.store-delete-container {
    display: grid;
    min-height: 90vh;
    width: 100%;
    place-items: center;
}

.mat-elevation-z8 {
    width: 80%;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;

}