.form-container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 90vh;
}


.store-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 20rem;
    padding:  3rem 2rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}